//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    reads = "${projectDir}/samples/full/*_R{1,2}.fastq.gz"
    adapter_fa = "$baseDir/refs/TruSeq3-PE.fa"
    genome = "$baseDir/refs/GRCm39.primary_assembly.genome.fa"
    gtf = "$baseDir/refs/gencode.vM34.primary_assembly.annotation.gtf"
    samples = "$baseDir/samples/samples.csv"

    // Directories
    outdir = "$baseDir/results/"
    refdir = "$baseDir/refs/"
    sampledir = "$baseDir/samples"

    // Custom parameters
    chrom_subset = "chr19"
    genome_subset = "$baseDir/results/chr19_only.fa"

}

profiles {
    conda {
        conda.enabled = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 8
                    clusterOptions = "-P bf528 -l mem_per_core=8G"
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
//workDir = "/projectnb/bf528/projects/jorofino/"
resume = true